<%#ヘッダー部分テンプレート%>
<header class='top-page-header'>
  <div class='header-logo'>
    <%= link_to image_tag("logo.png", size: "100x80"), "/", class:"sushi-comp-icon" %>
  </div>
  <div class='navbar'>
    <ul class='navbar-inner'>
      <li><%= link_to '寿司ネタ一覧', foods_path %></li>
      <li><%= link_to 'サービス一覧', services_path %></li>
      <li><%= link_to 'お知らせ一覧', informations_path %></li>
      <li><%= link_to 'ランキング', "#" %></li>
      <li><%= link_to 'マップ', "#" %></li>
      <div class="navbar-inner account">
        <% if user_signed_in? %>
          <li><%= link_to current_user.nickname, "/users/#{current_user.id}" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path %></li>
          <li><%= link_to '新規登録', new_user_registration_path %></li>
        <% end %>
      </div>
    </ul>
  </div>
</header>