<div class="main">
  <%#ページ名領域%>
  <%= render "parts/first-header" %>
  <div class="second-header-ranking-wrapper">
    <div class="second-header-translucent">
      <div class="title-box">
        <h2 class="menu-title">
          ランキング
        </h2>
      </div>
    </div>
  </div class="ranking-wrapper">
    <div class="services-wrapper">
      <%#ランキング分類領域%>
      <div class="ranking-condition-menu">
        <div class="rank-condition btn" id="button">
          カウント数全般
        </div>
        <div class="rank-condition btn"  id="button">
          赤身ネタ分類
        </div>
        <div class="rank-condition btn"  id="button">
          白身ネタ分類
        </div>
        <div class="rank-condition btn"  id="button">
          光り物ネタ分類
        </div>
        <div class="rank-condition btn"  id="button">
          貝類ネタ分類
        </div>
        <div class="rank-condition btn"  id="button">
          その他分類
        </div>
      </div>
      <%#ランキング内容領域%>
      <div class="ranking-content-display">
        <div class="container">
          <div class="commendation">
            <div class="priority">
              <div class="icon">
                <%= image_tag "f1-1.png", width: '50%', height: '50%' %>
              </div>
              <div class="first-rank-content">
                <%= image_tag "dummy.png", width: '100%', height: '100%' %>
              </div>
            </div>
            <div class="associate">
              <div class="icon">
                <%= image_tag "f1-2.png", width: '25%', height: '25%' %>
              </div>
              <div class="secondary-rank-content">
                <%= image_tag "dummy.png", width: '100%', height: '100%'  %>
              </div>
              <div class="sub-icon">
                <%= image_tag "f1-3.png", width: '25%', height: '25%' %>
              </div>
              <div class="secondary-rank-content">
                <%= image_tag "dummy.png", width: '100%', height: '100%'  %>
              </div>
            </div>
          </div>
          <div class="sub-commendation">
            <div class="sub-rank-content">
              <div class="mini-icon">
                <%= image_tag "f1-4.png", width: '15%', height: '15%' %>
              </div>
              <%= image_tag "dummy.png", width: '100%', height: '100%'  %>
            </div>
            <div class="sub-rank-content">
              <div class="mini-icon">
                <%= image_tag "f1-5.png", width: '15%', height: '15%' %>
              </div>
              <%= image_tag "dummy.png", width: '100%', height: '100%'  %>
            </div>
            <div class="sub-rank-content">
              <div class="mini-icon">
                <%= image_tag "f1-6.png", width: '15%', height: '15%' %>
              </div>
              <%= image_tag "dummy.png", width: '100%', height: '100%'  %>
            </div>
            <div class="sub-rank-content">
              <div class="mini-icon">
                <%= image_tag "f1-7.png", width: '15%', height: '15%' %>
              </div>
              <%= image_tag "dummy.png", width: '100%', height: '100%'  %>
            </div>
            <div class="sub-rank-content">
              <div class="mini-icon">
                <%= image_tag "f1-8.png", width: '15%', height: '15%' %>
              </div>
              <%= image_tag "dummy.png", width: '100%', height: '100%'  %>
            </div>
            <div class="sub-rank-content">
              <div class="mini-icon">
                <%= image_tag "f1-9.png", width: '15%', height: '15%' %>
              </div>
              <%= image_tag "dummy.png", width: '100%', height: '100%'  %>
            </div>
            <div class="sub-rank-content">
              <div class="mini-icon">
                <%= image_tag "f1-10.png", width: '15%', height: '15%' %>
              </div>
              <%= image_tag "dummy.png", width: '100%', height: '100%'  %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>