<div class="main">
  <%= render "parts/first-header" %>
  <div class="top-wrapper">
    <div class="top-wrapper-translucent">
      <div class="catchphrase">
        オイシイは<br>冒険だ
      </div>
    </div>
  </div>
  <div class="top-main">
    <div class="home-left-content">
      <div class="pickup">
        ピックアップ機能表示予定
      </div>
      <div class="news">
        <h1 class="news-logo">NEWS</h1>
        <div class="container">
        <% @informations.each do |news| %>
          <%= link_to(informations_path, class: 'topics') do %>
          <article class="topic">
            <%= news.title %>:
            <%= truncate(news.content, omision: "...", length: 30,) %>
            <%= news.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
          </article>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
    <div class="home-right-content">
      <div class="archive">
        <h1 class="archive-logo">過去ログ</h1>
        <div class="container">
          <ul>
            <% @archives.each do |yyyymm, cnt| %>
              <li><%= ymconv(yyyymm[0], yyyymm[1], cnt) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>