<div class="main">
  <%#ヘッダー領域%>
  <%= render "parts/first-header" %>
  <%#ページ名領域%>
  <div class="second-header-food-wrapper">
    <div class="second-header-translucent">
      <div class="title-box">
        <h2 class="menu-title">
          寿司ネタ一覧
        </h2>
      </div>
    </div>
  </div>
  <%#寿司ネタ詳細領域%>
  <div class="food-second-main">
    <div class="food-name">
      <%= @food.sushi_neta_name %>
    </div>
    <div class="food-detail">
      <div class="food-detail-content">
        <div class="food-explanation">
          <%= @food.explanation%>
        </div>
        <div class="food-category">
          <span class="category-decoration">種類<br></span>
          <%= @food.category.name %>
        </div>
        <div class="food-season">
          <span class="season-decoration">旬の時期<br></span>
          <%#= @food.season_month%>
        </div>
      </div>
      <div class="food-detail-image">
        <%= image_tag @food.image %>
          <%#寿司ネタ評価領域%>
          <div class="rating-content">
            <div class="average-score">
              <div class="star-rating">
                <div class="star-rating-front" style="width: <%= @food.comment_rate_percentage %>%">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
              <div class="average-score-display">
                平均<%=  @food.avg_score %>点（<%= @food.comments.count %>件のレビュー）
              </div>
            </div>
            <div class="comment-select">
              <%= link_to "評価一覧を見る", food_comments_path(@food), class: "text-decoration" %>
              <%= link_to "評価する", new_food_comment_path(@food), class: "text-decoration" %>
            </div>
          </div>
    </div>
  </div>
  <%#戻るボタン(フッター)領域%>
  <div class="footer">
    <div class="btn">
    <%= link_to "戻る", foods_path, class: "return" %>
    </div>
  </div>
</div>